---
# Install Kitty manually as an app because the packaged versions are outdated

- name: create kitty config dir
  file:
    path: "{{ ansible_facts['user_dir'] }}/.config/kitty"
    state: directory

- name: create kitty.d symlink
  file:
    path: "{{ ansible_facts['user_dir'] }}/.config/kitty/kitty.d"
    src: "{{ ansible_facts['user_dir'] }}/dotfiles/kitty.d"
    state: link

- name: create kitty config symlink
  file:
    path: "{{ ansible_facts['user_dir'] }}/.config/kitty/kitty.conf"
    src: "{{ ansible_facts['user_dir'] }}/dotfiles/kitty.conf"
    state: link

- name: install kitty terminfo
  command: >
    tic -x -o {{ ansible_facts['user_dir'] }}/.terminfo
    {{ ansible_facts['user_dir'] }}/.local/kitty.app/lib/kitty/terminfo/kitty.terminfo
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.terminfo/x/xterm-kitty"
