---
# Install Kitty manually as an app because the packaged versions are outdated

- name: create kitty config dir
  file:
    path: "{{ ansible_facts['user_dir'] }}/.config/kitty"
    state: directory

- name: create kitty.d symlink
  file:
    path: "{{ ansible_facts['user_dir'] }}/.config/kitty/kitty.d"
    src: "{{ ansible_facts['user_dir'] }}/dotfiles/kitty.d"
    state: link

- name: create kitty config symlink
  file:
    path: "{{ ansible_facts['user_dir'] }}/.config/kitty/kitty.conf"
    src: "{{ ansible_facts['user_dir'] }}/dotfiles/kitty.conf"
    state: link
