---
- hosts: cliddick
  roles:
    - pre-tasks
    - linux-headless
    - software-dev-min
    - zsh
  tasks:
    - name: install packages
      apt:
          name: "{{ packages }}"
      vars:
          packages:
          - atool
          - jq
          - glinux-emacs
          - moreutils
          # - net-tools
          # - nmon
          # - pigz
          # - python3-apt
          # - python3-gpg
          - rename
          - screen
          - tree
          - zip
      become: yes

- hosts: cliddick-mac
  roles:
    - mac-core
    - software-dev-min
    - zsh

- hosts: Family-MacBook
  roles:
    - mac-core
    - rust
    - software-dev-min
    - software-dev-macosx
    # - data-analysis
    - kitty
    - zsh
    - typesetting
    - photography

- hosts: gir
  roles:
    - pre-tasks
    - linux-headless
    - software-dev-min
    - kitty
    - rust
    - zsh
  tasks:
    - name: install packages
      apt:
          name: "{{ packages }}"
      vars:
          packages:
          - atool
          - jq
          - moreutils
          - net-tools
          - nmon
          # - pigz
          # - python3-apt
          # - python3-gpg
          - rename
          - screen
          - tree
          - zip
      become: yes
