---
- hosts: cliddick
  roles:
    - linux-headless
    - git
    - zsh
  tasks:
    - name: install mercurial config file
      ansible.builtin.copy:
        content: |
          [ui]
          username = Clint Liddick <{{ email }}>
          #merge = :merge3
          merge = ediff
          editor = emacsclient -nw -t -a ''
          [google-change-tags]
          default.markdown = true
        dest: "{{ ansible_facts['user_dir'] }}/.hgrc"

    - name: install packages
      apt:
          name: "{{ packages }}"
      vars:
          packages:
          - atool
          - jq
          - glinux-emacs
          - moreutils
          # - net-tools
          # - nmon
          # - pigz
          # - python3-apt
          # - python3-gpg
          - rename
          - screen
          - tree
          - zip
      become: yes

- hosts: cliddick-mac
  roles:
    - mac-core
    - git
    - zsh
    - fonts

- hosts: Family-MacBook
  roles:
    - mac-core
    - rust
    - git
    - software-dev-macosx
    - fonts
    # - data-analysis
    - kitty
    - zsh
    - typesetting
    - photography
    - jujutsu

- hosts: gir
  roles:
    - linux-headless
    - git
    - kitty
    - fonts
    - rust
    - jujutsu
    - zsh
  tasks:
    - name: install packages
      apt:
          name: "{{ packages }}"
      vars:
          packages:
          - atool
          - jq
          - moreutils
          - net-tools
          - nmon
          # - pigz
          # - python3-apt
          # - python3-gpg
          - rename
          - screen
          - tree
          - zip
      become: yes
