---
- name: create ~/src directory
  file:
    dest: "{{ ansible_facts['user_dir'] }}/src"
    state: directory

- name: install bazelisk
  homebrew:
    name: bazelisk
    state: present

- name: install global pycodestyle config
  copy:
    dest: "{{ ansible_facts['user_dir'] }}/.config/pycodestyle"
    mode: 0644
    content: |
      [pycodestyle]
      max-line-length = 100

- name: install docker
  homebrew_cask:
    name: docker
    state: present

- name: download NVM installer
  get_url:
    url: https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh
    dest: /tmp/nvm-install.sh
    mode: "0755"

- name: install NVM
  shell: /tmp/nvm-install.sh
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.nvm/nvm.sh"
