---
- name: install zsh
  when: ansible_facts["os_family"] == "Debian"
  apt:
    name: zsh
  become: yes

- name: link zshrc dotfile
  file:
    state: link
    src: "{{ ansible_facts['user_dir'] }}/dotfiles/zshrc"
    path: "{{ ansible_facts['user_dir'] }}/.zshrc"
    force: yes

- name: link zshenv dotfile
  file:
    state: link
    src: "{{ ansible_facts['user_dir'] }}/dotfiles/zshenv"
    path: "{{ ansible_facts['user_dir'] }}/.zshenv"
    force: yes

- name: update default shell to zsh
  user:
    name: "{{ ansible_user }}"
    shell: /bin/zsh
  when: not is_glinux
  become: yes
