---
- name: install packages
  apt:
    name: "{{ packages }}"
  vars:
    packages:
    - autofs
    - bluez
    - blueman
    - cups
    - feh
    - fonts-noto
    - gthumb
    - i3-wm
    - i3lock
    - kcolorchooser
    - libnotify-bin
    - mesa-utils
    - nfs-common
    - okular
    - pandoc
    - pavucontrol
    - printer-driver-cups-pdf
    - pulseaudio-module-bluetooth
    - rxvt-unicode
    - sensible-utils
    - scrot
    - suckless-tools
    - vlc
    - xinput
    - xfe
    - xsel
  become: yes

- name: install pip packages
  pip:
    name: "{{ packages }}"
    extra_args: --user
  vars:
    packages:
      - autorandr
  # no become

- name: install Ubuntu packages
  when: ansible_facts['distribution'] == "Ubuntu"
  apt:
    name: "{{ packages }}"
  vars:
    packages:
    - oxygen-cursor-theme-extra
    - screenruler  # no Debian equivalent after jessie
  become: yes

- name: install Debian packages
  when: ansible_facts['distribution'] == "Debian"
  apt:
    name: "{{ packages }}"
  vars:
    packages:
    - firefox-esr
    - oxygencursors
  become: yes

- name: "add {{ ansible_user }} to admin groups"
  user:
    name: "{{ ansible_user }}"
    append: yes
    groups:
      - lpadmin
      - dialout
  become: yes

- name: create display manager custom XSession config
  copy:
    dest: /usr/share/xsessions/xsession.desktop
    content: |
      [Desktop Entry]
      Name=XSession
      Comment=This session uses the custom xsession file
      Exec=/etc/X11/Xsession
      Type=Application
  become: yes

- name: create X dotfile symlinks
  file:
    state: link
    src: "{{ ansible_facts['user_dir'] }}/dotfiles/{{ item }}"
    path: "{{ ansible_facts['user_dir'] }}/.{{ item }}"
    force: yes
  loop:
    - xinitrc
    - xsession

- name: create xsessionrc symlink
  file:
    state: link
    src: "{{ ansible_facts['user_dir'] }}/dotfiles/xsessionrc.{{ inventory_hostname }}"
    path: "{{ ansible_facts['user_dir'] }}/.xsessionrc"

- name: create Xresources symlink
  file:
    state: link
    src: "{{ ansible_facts['user_dir'] }}/dotfiles/Xresources.{{ inventory_hostname }}"
    path: "{{ ansible_facts['user_dir'] }}/.Xresources"

- name: create i3 config dir
  file:
    path: "{{ ansible_facts['user_dir'] }}/.config/i3"
    state: directory

- name: create i3 config symlink
  file:
    path: "{{ ansible_facts['user_dir'] }}/.config/i3/config"
    src: "{{ ansible_facts['user_dir'] }}/dotfiles/i3config.conf"
    state: link

- name: create dunst config dir
  file:
    path: "{{ ansible_facts['user_dir'] }}/.config/dunst"
    state: directory

- name: create dunst config symlink
  file:
    path: "{{ ansible_facts['user_dir'] }}/.config/dunst/dunstrc"
    src: "{{ ansible_facts['user_dir'] }}/dotfiles/dunstrc"
    state: link

- name: create /mnt/usb directory
  file:
    state: directory
    path: /mnt/usb
  become: yes

# - name: check if Dropbox installed
#   shell: which dropbox
#   register: has_dropbox
#   ignore_errors: yes

# - name: install Dropbox
#   when: has_dropbox.rc != 0
#   apt:
#     deb: https://www.dropbox.com/download?dl=packages/ubuntu/dropbox_2020.03.04_amd64.deb
#   become: yes
