---

- name: create dotfile symlinks
  file:
    state: link
    src: "{{ ansible_facts['user_dir'] }}/dotfiles/{{ item }}"
    path: "{{ ansible_facts['user_dir'] }}/.{{ item }}"
    force: yes
  loop:
    - bashrc
    - clang-format
    - emacs.el
    - nvmrc
    - profile
    - screenrc
    - vimrc

- name: remove .bash_profile
  file:
    state: absent
    path: "{{ ansible_facts['user_dir'] }}/.bash_profile"
