---
- name: create ~/.config/jj directory
  file:
    state: directory
    path: "{{ ansible_facts['user_dir'] }}/.config/jj"

- name: install jujutsu config
  template:
    src: config.toml.j2
    dest: "{{ ansible_facts['user_dir'] }}/.config/jj/config.toml"

- name: install jujutsu
  command: "{{ ansible_facts['user_dir'] }}/.cargo/bin/cargo install jj-cli"
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.cargo/bin/jj"
