[Unit]
Description=Run Borg backup command
Wants=borg-backup.timer

[Service]
EnvironmentFile=/usr/local/etc/borg/env.conf
ExecStart=/usr/local/sbin/backup_with_borg
Type=oneshot

[Install]
WantedBy=borg-backup.target
