---
- name: brew installed
  ansible.builtin.command: command -v brew
  register: brew_installed_result
  changed_when: false
  ignore_errors: true


- name: create dotfile symlinks
  file:
    state: link
    src: "{{ ansible_facts['user_dir'] }}/dotfiles/{{ item }}"
    path: "{{ ansible_facts['user_dir'] }}/.{{ item }}"
    force: yes
  loop:
    - clang-format
    - emacs.el
    - vimrc
    - screenrc

# Disabled because can't passthrough sudo password without (dangerously) running brew itself with sudo
# - name: upgrade all homebrew formula
#   community.general.homebrew:
#     upgrade_all: yes
#   when: brew_installed_result.rc == 0

# - name: upgrade all homebrew casks
#   community.general.homebrew_cask:
#     upgrade_all: yes
#   when: brew_installed_result.rc == 0
