---
- name: create tmpfile for requirements
  tempfile:
    state: file
    suffix: .txt
  register: requirements_tmpfile
  
- name: copy requirements file
  copy:
    src: requirements.txt
    dest: "{{ requirements_tmpfile.path }}"

# TODO: figure out how to make this work when running ansible from within a venv itself

# - name: install Jupyter and Python packages into venv
#   pip:
#     virtualenv: "{{ venv_dir }}"
#     virtualenv_command: "{{ venv_cmd }}"
#     requirements: "{{ requirements_tmpfile.path }}"

# - name: clean up requirements tmpfile
#   file:
#     path: "{{ requirements_tmpfile.path }}"
#     state: absent
#   when: requirements_tmpfile.path is defined

# - name: install virtualenv ipykernel
#   command:
#     cmd: "{{ venv_python }} -m ipykernel install --name venv --user"
#     creates: "{{ ansible_facts['user_dir'] }}/.local/share/jupyter/kernels/venv"
